@model RouteManager.Models.TeamViewModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes - @Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            <p>Id: @Model.City.Id</p>
            <p>Nome: @Model.City.Name</p>
            <p>Estado: @Model.City.State</p>
            <p>Representação: @Model.City.CityRepresentation</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd class="col-sm-10">
            @foreach (var person in @Model.Members)
            {
                <span>Id: @person.Id, Nome: @person.Name,Time Atual: @person.CurrentTeam<br> </span>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar a listagem</a>
</div>
